absl-py==0.13.0
actionlib==1.11.13
aiohttp==3.6.2
angles==1.9.11
astor==0.7.1
astunparse==1.6.3
async-timeout==3.0.1
atari-py==0.2.6
attrs==19.3.0
autobahn==20.6.1
backcall==0.1.0
base_local_planner==1.14.4
-e git+https://github.com/openai/baselines.git@ea25b9e8b234e6ee1bca43083f8f3cf974143998#egg=baselines
beautifulsoup4==4.9.3
bleach==1.5.0
bondpy==1.8.3
cached-property==1.5.2
cachetools==4.2.2
camera_calibration==1.12.23
camera_calibration_parsers==1.11.13
catkin==0.7.14
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
clang==5.0
Click==7.0
cloudpickle==1.2.2
colorama==0.4.4
cryptography==2.9.2
cs253-demo-pip==1.0.1
cv_bridge==1.12.8
cycler==0.10.0
Cython==0.29.4
-e git+https://github.com/Farama-Foundation/d4rl.git@71a9549f2091accff93eeff68f1f3ab2c0e0a288#egg=D4RL
dataclasses==0.8
decorator==4.4.0
defusedxml==0.6.0
diagnostic_analysis==1.9.3
diagnostic_common_diagnostics==1.9.3
diagnostic_updater==1.9.3
dill==0.2.9
dm-control==0.0.364896371
dm-env==1.5
dm-tree==0.1.6
dynamic_reconfigure==1.5.50
e==1.4.5
egl-probe==1.0.2
entrypoints==0.3
evdev==1.4.0
fasteners==0.15
filelock==3.0.12
flatbuffers==1.12
future==0.17.1
gast==0.2.2
gazebo_plugins==2.5.17
gazebo_ros==2.5.17
gencpp==0.6.0
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.11
gennodejs==2.0.1
genpy==0.6.7
geodesy==0.5.2
glfw==1.7.1
glob2==0.6
google==3.0.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.39.0
gym==0.18.0
-e git+https://github.com/WarrG3X/gym-dobot.git@8f006ac6d435be1c2baadaa89b3e20b3dc6c600b#egg=gym_dobot
gym-maze==0.4
-e git+https://github.com/sjinang/reinmav_gym.git@df6d63bf57c2bf483d86139f9adfcf62254e1bd3#egg=gym_reinmav
-e git+https://github.com/Utsavz/h-baselines.git@47c858584c6de3867a9981dfe974e341188626ed#egg=h_baselines
h5py==3.1.0
html5lib==0.9999999
idna==2.8
idna-ssl==1.1.0
image_geometry==1.12.8
imageio==2.4.1
imageio-ffmpeg==0.4.8
importlib-metadata==1.6.1
imutils==0.5.2
interactive_markers==1.11.4
ipdb==0.12
ipykernel==5.3.0
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.13.3
Jinja2==2.11.2
joblib==0.13.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyter-server-proxy==1.5.0
keras==2.6.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.1.2
keyboard==0.13.4
kiwisolver==1.0.1
labmaze==1.0.5
laser_geometry==1.6.4
llvmlite==0.34.0
lockfile==0.12.2
lxml==4.9.1
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib==3.0.2
message_filters==1.12.14
mistune==0.8.4
-e git+https://github.com/aravindr93/mjrl.git@3871d93763d3b49c4741e6daeaebbc605fe140dc#egg=mjrl
mkl-fft==1.0.10
mkl-random==1.0.2
monotonic==1.5
mpi4py==3.0.0
mujoco-py==2.0.2.13
multidict==4.7.6
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.4
notebook==6.0.3
numba==0.51.2
numpy==1.16.1
numpy-quaternion==2022.4.3
oauthlib==3.1.1
opencv-python==4.0.0.21
opt-einsum==3.3.0
pandas==0.24.1
pandocfilters==1.4.2
parso==0.4.0
pathlib2==2.3.5
pexpect==4.7.0
pickleshare==0.7.5
Pillow==5.4.1
-e git+https://github.com/ntasfi/PyGame-Learning-Environment.git@3dbe79dc0c35559bb441b9359948aabf9bb3d331#egg=ple
pluginlib==1.11.3
progressbar2==3.39.2
prometheus-client==0.8.0
prompt-toolkit==2.0.9
protobuf==3.17.3
psutil==5.9.4
ptyprocess==0.6.0
py-spy==0.3.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybullet==3.2.5
pycparser==2.19
pygame==2.0.0.dev8
pyglet==1.5.0
Pygments==2.4.0
pynput==1.7.6
PyOpenGL==3.1.6
pyparsing==2.3.1
pyquaternion==0.9.5
pyrealsense2==2.18.0.515
pyrsistent==0.16.0
python-dateutil==2.8.0
python-utils==2.3.0
python-xlib==0.31
python_qt_binding==0.3.4
pytz==2018.9
pyudev==0.23.2
PyWavelets==1.1.1
PyYAML==3.13
pyzmq==17.1.2
qt_dotgraph==0.3.11
qt_gui==0.3.11
qt_gui_cpp==0.3.11
qt_gui_py_common==0.3.11
qtconsole==4.7.4
QtPy==1.9.0
ray==0.8.4
rc==0.3.1
redis==3.3.11
requests==2.21.0
requests-oauthlib==1.3.0
resource_retriever==1.12.4
-e git+https://github.com/rll/rllab.git@ba78e4c16dc492982e648f117875b22af3965579#egg=rllab
-e git+https://github.com/ARISE-Initiative/robomimic.git@3dacf4d7ca1c3f1b64ec1f61b339ff1f1baf20bc#egg=robomimic
-e git+https://github.com/ARISE-Initiative/robosuite.git@eb01e1ffa46f1af0a3aa3ac363d5e63097a6cbcc#egg=robosuite
rosbag==1.12.14
rosboost_cfg==1.14.4
rosclean==1.14.4
roscreate==1.14.4
rosgraph==1.12.14
roslaunch==1.12.14
roslib==1.14.4
roslint==0.11.0
roslz4==1.12.14
rosmake==1.14.4
rosmaster==1.12.14
rosmsg==1.12.14
rosnode==1.12.14
rosparam==1.12.14
rospy==1.12.14
rosservice==1.12.14
rostest==1.12.14
rostopic==1.12.14
rosunit==1.14.4
roswtf==1.12.14
rqt_action==0.4.9
rqt_bag==0.4.12
rqt_bag_plugins==0.4.12
rqt_console==0.4.8
rqt_dep==0.4.9
rqt_graph==0.4.9
rqt_gui==0.5.0
rqt_gui_py==0.5.0
rqt_image_view==0.4.13
rqt_launch==0.4.8
rqt_logger_level==0.4.8
rqt_moveit==0.5.7
rqt_msg==0.4.8
rqt_nav_view==0.5.7
rqt_plot==0.4.8
rqt_pose_view==0.5.8
rqt_publisher==0.4.8
rqt_py_common==0.5.0
rqt_py_console==0.4.8
rqt_reconfigure==0.4.10
rqt_robot_dashboard==0.5.7
rqt_robot_monitor==0.5.8
rqt_robot_steering==0.5.9
rqt_runtime_monitor==0.5.7
rqt_rviz==0.5.10
rqt_service_caller==0.4.8
rqt_shell==0.4.9
rqt_srv==0.4.8
rqt_tf_tree==0.5.8
rqt_top==0.4.8
rqt_topic==0.4.10
rqt_web==0.4.8
rsa==4.7.2
rt-rrt-star==0.0.1
rviz==1.12.16
scikit-image==0.17.2
scipy==1.5.4
seaborn==0.9.0
Send2Trash==1.5.0
sensor_msgs==1.12.7
Shapely==1.6.4.post2
simpervisor==0.3
six==1.15.0
sk-video==1.1.10
smach==2.0.1
smach_ros==2.0.1
smclib==1.8.3
solaar==1.1.5
soupsieve==2.2.1
tabulate==0.8.9
tensorboard==1.14.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4
tensorflow-docs===0.0.0e91c35297d00d7030d47a1d5f01265d74d3926e3-
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
tensorflow-probability==0.8.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tf==1.11.9
tf2_geometry_msgs==0.5.20
tf2_kdl==0.5.20
tf2_py==0.5.20
tf2_ros==0.5.20
tf2_sensor_msgs==0.5.20
tf_conversions==1.11.9
Theano==1.0.5
tifffile==2020.6.3
topic_tools==1.12.14
torch==1.10.1
torchvision==0.11.2
tornado==6.0.4
tqdm==4.30.0
traitlets==4.3.2
txaio==20.4.1
typing-extensions==3.7.4.2
unique_id==1.0.5
urllib3==1.24.1
vpython==7.6.1
Wand==0.6.7
wcwidth==0.1.7
Werkzeug==0.14.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xacro==1.11.3
yarl==1.4.2
zipp==3.1.0
zmq==0.0.0
